.banner{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
}

.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.banner__imagen{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    box-shadow: 0 2px 10px 5px #00000020;
    min-width: 238px;
}

.lead{
    font-weight: 300;
    font-size: 1.25rem;
    color: #464646;
    margin: 0;
}

.banner__titulo{
    font-weight: bold;
    font-size: 3.5rem;
    color: #464646;
    margin: 0;
}

.banner__descripcion{
    font-weight: 400;
    font-size: 1.1rem;
    color: #464646;
    line-height: 1.62rem;
}

.banner__lista-enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;   
    list-style: none;
}

.banner__enlace a{
    text-decoration: none;
    list-style: none;
    padding-right: 1rem;
    font-weight: 200;
    size: 1rem;
    color: rgba(13, 109, 192, 0.644);

}

.banner__enlace a:hover{
    color: rgba(190, 20, 20, 0.856);
}

.banner__enlace i{
    height: 16px;
    width:  16px;
    padding-left: 5px;
}

.email a{
    color: rgb(10, 74, 129);
    font-size: 1rem;
    font-weight: 900;

}

@media screen and (max-width: 768px){
    .banner{
        flex-direction: column-reverse;
    }
    .banner__imagen, .banner__text{
        margin: auto;
    }
    .banner__text{
    margin-top: 20px;
    }
    .banner__enlace{
        padding: 7px 3px;
    }
}

@media screen and (min-width: 1024px) {
    
}