body{
    font-family: 'Raleway', sans-serif;
    background: rgb(149,52,59);
background: linear-gradient(180deg, rgba(149,52,59,1) 0%, rgba(240,132,83,0.3) 22%, rgba(253,187,45,1) 100%);

}

.container {
    padding: 0;
    width: 70%;
    margin: auto;
}

.boton{
    border: 2px solid #0099CC;
    border-radius: 6px;
    color: #0099CC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

@media screen and (max-width: 1280px){
    .container {
        margin: auto;
        width: 90%;
    }
}
@media screen and (max-width:600px){
    .container{
      padding: 0;
      width: 96%;
    }
}