.head{
    display: flex;
    align-items: center;
    align-content: space-between;
    background-color: #f9f9f9;
    justify-content: space-between;
    padding-top: 5px;
    flex-wrap: wrap;
    padding-top: 0.5%;
}

.head__img-title{
    display: flex;
    align-content: center;
    align-items: center;
}

.head__imagen{
    width: 3rem;
    height: 3rem;
}

.head__titulo{
    font-size: 0.9rem;
    color: #969595;
    padding-left: 5px;
}

.head__logo {
    margin-bottom: 1rem;
}

.head__lista {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.head__enlace {
    list-style: none;
    font-size: 1rem;
}

.head__enlace a{
    list-style: none;
    color: #969595;
    font-size: 1rem;
    margin-right: 1.1rem;
    text-decoration: none;
    transition: 1s all;
    cursor: pointer;
}

.head__enlace a:hover {
    color: rgb(0, 0, 0);
}

.head__contacto{
    font-weight: bold;
}