.head{
  position: fixed;
  font-size: 0.75rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 10px;
}

.head.abajo{
  background-color: #fff;
  padding: 15px 20px;
  color: #000;

}

.head.abajo .head__logo{
  color: #000;
}
.head.abajo ul li a{
  color: #000;
}


.head__menu{
    display: flex;
    align-content: center;
    align-items: center;
}

.head__logo{
  display: flex;
  align-items: center;
  color: #fff;
font-size: 2em;
letter-spacing: 2px;
transition: 1.5s;
font-weight: bold;
text-decoration: none;
}

.head__menu ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head__menu ul li{
  list-style: none;
}

.head__menu ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.7s;
}




@media screen and (max-width: 600px) {
    .header{
      height: auto;
      width: auto;
    }
    .header nav ul li:not(:nth-child(1),:nth-child(7)) {
      display: none;
      transform-origin: right left;    
    } 
    .header nav ul li a.icon{
      float: right;
      display: block;
      color:#cb0899;
      font-size: 1.1rem;
      padding-top: 4%;
    }
    .header nav ul li a.icon:hover{
      background-color: #25252510;
    }
    .light {
      text-align: center;
      width: 100%;
  
    }
  }
  
  @media screen and (max-width: 600px) {
    
    .header.responsive nav ul{
      position: relative; 
      width: 100%;
      
    }
    .header nav ul li:not(:nth-child(1),:nth-child(6),:nth-child(7)) a:hover{
    background-color: #2525258c;
    border-radius: 0.3vw;
    color: #76bcd6;
    border-bottom: 0.3rem #cb0899 solid;
    
    } 
    .header.responsive nav ul li a.icon{
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .header.responsive nav ul li{
      display: block;
    }
    .header.responsive nav ul li a{
      float: none;
      visibility: visible;
    } 
    .header nav ul li a{
      font-size: 2vw;
    }
    .light{
      margin: 1rem 0 0 0;
    }
  }

@media screen and (max-width: 768px){
  .head{
    display: block;
  }
  .head__lista{
    flex-direction: column;
  }
  .head__enlace{
    padding: 5px;
    border-bottom: 2px solid rgb(25, 79, 180);
  }
  .head__enlace:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(87, 130, 209);
  }

  .head__img-title{
  display: none;
  }

}
